body {
	background-color: #0A192F !important;
	color: #fff !important;
}
.title {
	background-color: #09192F !important;
	font-weight: 300!important;
	line-height: 3em;
	font-size: x-large;
	font-family: 'Arial';
	color: #939AB3 !important;
}

.btn-outline-primary {
	background-color: rgba(0, 0, 0, 1);
	border-color: #55D6BD !important;
	color: #55D6BD !important;
}
.btn-outline-primary:hover{
	background-color: #55D6BD !important;
	border-color: #55D6BD !important;
	color: #09192F !important;
}

#video {
	width: 500px;
	height: 375px;
	background-color: #172A46;
	border-radius: 1rem;
}

span {
	color: #939AB3 !important;
}